.chatbot {
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;
    width: 5rem;
    position: fixed;
}

.plus-button {
    cursor: pointer;
    right: 2rem;
    width: 3rem;
    bottom: 7rem;
    position: fixed;
}

.select-box {
    position: fixed;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
    right: 7rem;
    bottom: 7rem;
}


.option {
    cursor: pointer;
    padding: 5px;
}

.option:hover {
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}