.createpage {
    display: flex;
}

.title {
    font-weight: bold;
    font-size: 4vw;
    display: inline-block;
    margin-bottom: 1vh;
}

.createSpaceBar {
    width: 80%;
    display: inline-block;
}

.createSpace-container {
    position: fixed;
    height: 100%;
    width: 80vw;
    background-color: #f9fdff;
    text-align: center;
}

.space-input {
    font-size: 3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.space-img {
    font-weight: bold;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}

.create-space {
    margin-left: 20%;
    margin-right: 20%;
    border: solid;
    border-radius: 20px;
    background-color: white;
    margin-top: 15vh;
    padding-top: 5vh;
    padding-bottom: 7vh;
}

.create-space-input {
    background-color: #f2f2f2;
    border-radius: 10px;
    color: #000000;
    padding: 10px;
    border: 2px solid;
    margin-left: 1vw;
    margin-bottom: 1vmax;
    width: 20vmax;
}

.create-space-btn {
    background-color: #78a5f0;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    margin-top: 2vmin;
    width: 10vmax;
    height: 6vmin;
}

.link {
    width: 5vw;
    margin-left: 2vw;
}
