.form-overall-container {
    background-color: #D4ECFF;

    padding-top: 3rem;

    margin-top: -3rem;
}

.form-answer-container {
    width: 80%;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    margin-top: 3rem;
    margin-left: 10%;
    margin-right: 10%;
}

.short-question-answer {
    width: 100%;
    margin-left: 10%;
}

.answer-write-here {
    width: 80%;
    height: auto;

    background-color: white;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding: 1rem;
}

.form-information {
    width: 80%;

    background-color: white;

    border: 0.05rem solid #edeef2;
    border-radius: 0.5rem;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 3rem;

    margin-top: 3rem;
    margin-bottom: 2rem;
}

.form-title-container {
    width: 80%;

    background-color: #B9D3FF;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form-title {
    border-style: none;
    width: 70%;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 36px;
    font-weight: bold;

    background-color: #B9D3FF;
    text-align: center;

    padding: 1.5rem;
}

.form-content {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;

    margin-bottom: 1rem;

    text-align: center;
}

.form-explain {
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-explain {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    padding-left: 1rem;

    color: lightgray;

    margin-right: 3rem;
}

.right-explain {
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
}

.span-blank {
    margin-bottom: 5px;
}

.form-question-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 3rem;
}

.question-answer-container {
    width: 80%;
    height: auto;

    background-color: white;

    border: 0.05rem solid #edeef2;
    border-radius: 0.5rem;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);

    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    padding: 3rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.question-number {
    color: #0077FF;
    font-family: Archivo, sans-serif;

    font-size: 42px;
    font-weight: bolder;
    font-style: italic;

    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;

    margin-bottom: 1rem;
}

.multi-question {
    width: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
}

.short-question {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
}

.long-question {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
}

.question-answer-title {
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    font-weight: bolder;

    margin-top: 1rem;
    margin-left: 5rem;
}

.question-answer-explain {
    color: lightgray;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: bold;

    margin-top: 0.5rem;
    margin-left: 6rem;
}

.text-counter {
    margin-top: 0;
    padding: 0;
}

/* check */

.checkbox-container {
    width: 100%;

    padding: 1rem;

    margin-bottom: 1rem;
}

.multi-option {
    width: 90%;
    height: auto;

    justify-content: center;
    align-items: center;

    text-align: left;

    margin-top: 1rem;
    margin-left: 10%;
    margin-bottom: 1rem;
}

.multi-option-input {
    vertical-align: middle;
}

.multi-option-label {
    height: 2rem;
    line-height: 2rem;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;

    vertical-align: middle;

    margin-top: auto;
    margin-bottom: auto;

    margin-left: 1rem;
}

input[type="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}

input[type="checkbox"]:checked {
    border-color: #0077FF;
    border-width: 3px;
}

label {
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-top: 1rem;
}

.submit-button {
    background-color: #78A5F0;
    width: 10%;
    border-style: none;
    border-radius: 10px;
    height: 2.2rem;
    margin: 1rem;
    color: white;
    font-size: 1.2rem;

    font-family: "Noto Sans KR", sans-serif;
}

.cancel-button {
    background-color: lightgray;
    width: 10%;
    border-style: none;
    border-radius: 10px;
    height: 2.2rem;
    margin: 1rem;
    color: white;
    font-size: 1.2rem;

    font-family: "Noto Sans KR", sans-serif;
}