.form-overall-container {
    background-color: #D4ECFF;

    padding-top: 3rem;

    margin-top: -3rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    background-color: white;

    border: 0.05rem solid #edeef2;
    border-radius: 0.5rem;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);

    margin-top: 3rem;
    margin-left: 17%;
    margin-right: 17%;
}

.form-logo {
    width: 20%;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title {
    background-color: #B9D3FF;
    width: 80%;
    align-items: center;

    border: 0.05rem solid #edeef2;
    border-radius: 0.5rem;
}

.survey-title-input {
    border-style: none;
    width: 80%;
    height: 5rem;
    background-color: #B9D3FF;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;

    outline: none;

    padding: 0.5rem;
}

.survey-title-input::placeholder {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.survey-explain {
    margin-top: 1rem;
    width: 40%;
    border-bottom: solid gray;
    font-size: 2rem;
    color: gray;
}

.survey-explain-input {
    border-style: none;
    width: 80%;
    font-size: 18px;
    background-color: white;
    text-align: center;
    font-family: Pretendard, sans-serif;

    outline: none;

    margin-bottom: 0.5rem;
}

.survey-explain-input::placeholder {
    font-size: 1rem;
    font-weight: bold;
}

.option-container {
    width: 80%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 3rem;
}

.top-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}

.left-option {
    display: block;
}

.anoy {
    width: 8rem;
    height: auto;

    margin-right: 1rem;
}

.start-date-container {
    background-color: transparent;

    display: flex;
    align-items: center;

    margin-top: 1rem;
}

.start-date-img {
    width: 10rem;
    margin-right: 1rem;
}

.endDatePicker {
    background-color: transparent;

    border-radius: 2px;
    border-style: none;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);

    color: transparent;
    text-shadow: 0 0 0 black;

    font-size: 14px;
    text-align: center;

    cursor: default;

    padding-top: 3px;
    padding-bottom: 3px;
}

.end-date-container {
    display: flex;
    align-items: center;

    margin-top: 1rem;
}

.end-date-img {
    width: 10rem;
    margin-right: 1rem;
}

.startDatePicker {
    border-radius: 2px;
    border-style: none;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);

    font-size: 14px;
    text-align: center;

    cursor: default;

    color: transparent;
    text-shadow: 0 0 0 black;

    padding-top: 3px;
    padding-bottom: 3px;
}

.right-option {
    display: block;
}

.check-participant-img {
    width: 9rem;
    height: auto;

    margin-left: 1rem;
}

.check-participant {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.must {
    width: 9rem;
    height: auto;

    margin-bottom: 1rem;
}

.check {
    width: 9rem;
    height: auto;

}

.choose-group {
    display: flex;
}

.question-create-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

    margin-top: 3rem;
    margin-left: 20%;
    margin-bottom: 1rem;
}

.questions {
    flex: 1;
}

.qusetion-container {
    height: 50%;

    text-align: center;
    align-items: center;

    margin-bottom: 3rem;
}

.question-title-containter-multiple {
    background-color: #C4E3FB;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    text-align: left;
}

.question-title-containter-short {
    background-color: #C4E3FB;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
}

.question-title-containter-long {
    background-color: #C4E3FB;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
}

.question-title {
    color: black;
    font-family: "Noto Sans KR", sans-serif;

    padding-top: 1.5rem;
    padding-left: 2rem;
}

.title-input {
    background-color: #C4E3FB;

    border-style: none;

    font-weight: bold;
    font-size: 1.2rem;

    outline: none;
}

.title-input::placeholder {
    font-size: 1.2rem;
    color: gray;
}

.question-explain {
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}

.explain-input {
    background-color: #C4E3FB;

    border-style: none;

    color: gray;
    font-weight: bold;
    font-size: 14px;

    outline: none;
}

.radio-container {
    background-color: white;
    align-content: center;
    align-items: center;
    text-align: left;
    padding-left: 2rem;
}

.radio-line {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: flex-start;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.radio-option {
    /* margin-top: 1rem; */

    margin-left: 1rem;
    font-family: Pretendard, sans-serif;

    font-size: 1rem;
    border-bottom: solid black;
}

.radio-line input {
    border-style: none;
}

.radio-button-container {
    text-align: right;
    justify-content: right;
    display: flex;
    flex-direction: column;
    padding-left: 80%;

    padding-top: 1rem;

    margin-bottom: 1rem;
}

.add-radio-option {
    background-color: white;
    border-style: none;
    color: gray;
    font-weight: 400;
    padding-right: 1rem;
    font-family: Pretendard, sans-serif;

    cursor: pointer;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-answer {
    width: 100%;
    height: auto;

    position: relative;
    text-align: center;
}

.text-answer img {
    position: absolute;
    width: 25px;
    height: 30px;
    right: 3%;
    bottom: 10%;
}

.write-here {
    height: auto;

    background-color: white;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding: 1rem;
}

.text-answer-input {
    width: 100%;
    height: auto;

    text-align: center;

    border-style: none;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);

    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.long-text-answer-input {
    text-align: center;
    background-color: lightgray;
    border-style: none;
    width: 80%;
    height: 50%;
    margin-top: 1.3rem;
}

.text-counter {
    color: gray;
    text-align: right;

    margin-bottom: 1rem;
    margin-right: 2.9rem;
}

.save-question {
    width: auto;
    height: auto;

    background-color: #D4ECFF;

    border-style: none;
    border-radius: 7px;

    float: right;
    margin-right: 1rem;

    font-family: Pretendard, sans-serif;

    padding: 0.5rem 2rem;

    margin-bottom: 1rem;
}

.create-menu-container {
    width: 20%;

    flex: 1;

    top: 30%;
    bottom: 10%;

    position: sticky;
}

.create-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-top: 1rem;
    margin-left: 5rem;
}

.multiple_choice_img {
    width: 3rem;
    height: auto;

    border-bottom: #D4ECFF solid;

    cursor: pointer;

    margin-bottom: 1rem;
}

.short_answer_img {
    width: 3rem;
    height: auto;

    border-bottom: #D4ECFF solid;

    cursor: pointer;

    margin-bottom: 1rem;
}

.long_answer_img {
    width: 3rem;
    height: auto;

    border-bottom: #D4ECFF solid;

    cursor: pointer;
}

.button-container {
    width: 100%;

    text-align: center;

    padding-bottom: 3rem;
}

.finish-btn {
    width: 13%;
    height: 2.5rem;

    background-color: #78A5F0;

    border-style: none;
    border-radius: 20px;

    color: white;

    cursor: pointer;

    font-family: "Noto Sans KR", sans-serif;

    margin-right: 1rem;
}

.cancel-btn {
    width: 13%;
    height: 2.5rem;

    background-color: lightgray;

    border-style: none;
    border-radius: 20px;

    color: white;

    cursor: pointer;

    font-family: "Noto Sans KR", sans-serif;

    margin-left: 1rem;
}

/* 모달 그룹 선택 */
.choose-group .select-group-rectangle-white {
    width: 100%;
}

.select-groups-members-container {
    height: auto;
    width: 80%;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: lightgray;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 0.3rem;
    margin-bottom: 1%;
}

.choose-group .group-member-container {
    width: 60%;
    height: 10rem;

}
.group-select-button-container {
    width: 12rem;

    display: block;

    text-align: center;

    padding-top: 10rem;
}

.finish-select {
    width: 100%;
    height: auto;

    background-color: #0077FF;

    color: white;

    cursor: pointer;

    border-style: none;
    border-radius: 10px;

    padding: 1rem;
}