body{
    background-color: #D4ECFF;
    
}
.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-top: 3rem;
    /* height: 70vh; */
    margin-left: 17%;
    margin-right: 17%;
 


}
.form-logo{
    margin-top: 2rem;
    width: 20%;
    margin-bottom: 2rem;
}
.title{
    background-color: #B9D3FF;
    width: 80%;
    border: black solid;
    align-items: center;
}
.survey-title-input{
  border-style: none;
  width: 80%;
  font-size: 4rem;
  background-color: #B9D3FF;
  text-align: center;
}
.survey-title-input::placeholder{
  font-size: 3rem;
  font-style: bold;
}
.survey-explain{
    margin-top: 1rem;
    width: 40%;
    border-bottom: solid gray;
    font-size: 2rem;
    color: gray;
}
.survey-explain-input{
  border-style: none;
  width: 80%;
  font-size: 1.5rem;
  background-color: white;
  text-align: center;
}
.survey-explain-input::placeholder{
  font-size: 1rem;
  font-style: bold;
}
.option-container{
    width: 100%;
    display: flex;
    margin-top: 1rem;
}
.left-option{
    flex: 1;
    display: block;
    text-align: left;
    align-items: center;
    margin-left: 1rem;
 
}

.start-date-container{
    width: 50%;
    display: flex;
    align-items: center; 
    margin-top: 1rem;
    
    /*align-items- 가로 요소들 줄 안 맞을 떄 */
}
.endDatePicker{
    box-shadow:0px 8px 5px -2px ;
}
.end-date-container{
    width: 30%;
    display: flex;
    align-items: center; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*align-items- 가로 요소들 줄 안 맞을 떄 */
}

.startDatePicker{
    box-shadow:0px 8px 5px -2px;
}
.right-option{
    flex: 1;
}
.check-participant{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.choose-group{
    display: flex;
    
}
.group-name-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
}
.group-name-container::-webkit-scrollbar{
    display: none;
  }
.group-name-btn{
    border-radius: 10px;
    background-color: white;
    margin: 0.3rem;
}
.group-member-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.member-name-btn{
    border-radius: 10px;
    background-color: white;
    margin: 0.3rem;
    
}
.group-member-container::-webkit-scrollbar{
    display: none;
  }
  .question-create-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-top:3rem;
    margin-left: 19%;
    margin-bottom: 1rem;
 
  }
  .questions{
    flex: 1;
    
  }
  .qusetion-container{
  
    text-align: center;
    align-items: center;
    height: 50%;
    margin-bottom: 3rem;
    
  }
  .question-title-containter{
    background-color: #C4E3FB;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: left;
  }
  .question-title{
    padding-top: 1.5rem;
    padding-left: 2rem;
    
  }
  .title-input{
    border-style: none;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #C4E3FB;
  }
  .title-input::placeholder{
    font-size: 1.2rem;
    
  }
.question-explain{
  padding-left: 2rem;
  padding-bottom: 0.5rem;

}
.explain-input{
  border-style: none;
  font-weight: bold;
  font-size: 0.9rem;
  color: gray;
  background-color: #C4E3FB;
}

  .text-answer{
    text-align: center;
    background-color: lightgray;

 
  }
  .write-here{
    text-align: center;
    height: 8rem;
    background-color: white;
  }
  .text-answer-input{
    text-align: center;
    background-color: lightgray;
    border-style: none;
    width: 80%;
    height: 50%;
    margin-top: 1.3rem;
  }
  .long-text-answer-input{
    text-align: center;
    background-color: lightgray;
    border-style: none;
    width: 80%;
    height: 50%;
    margin-top: 1.3rem;
  }
  .text-counter{
 
    color: gray;
    text-align: right;
    margin-right: 1rem;
 }

  .create-menu-container{
    flex: 1;
    width: 20%;
    top:30%;
    bottom: 10%;
    position: sticky;
    
  }
  .create-menu{
    text-align: center;
    display:flex;
    flex-direction: column;
    background-color: #C4E3FB;
    width: 15%;
    
    margin-top: 1rem;
    margin-left: 5rem;
    
  }
  
  