.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Pretendard, sans-serif;

    background: url("../assets/bg_gradient_skyblue.png");
}

.login-box {
    width: 800px;
    height: 550px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo {
    width: 20%;
    height: 7%;
}

.logo-ment {
    font-size: 20px;
}

.login-gather {
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
}

.login-box-form {
    display: block;
}

.login-form {
    float: left;
    flex-direction: column;
    /* align-items: center; */
    width: 300px;
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;
}

.login-title {
    font-size: 17px;
    margin-bottom: auto;
    text-align: center;
}

.login-input {
    font-size: 13px;
    text-align: left;
}

.login_inputs {
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 270px;
    height: 20px;
    color: #000000;
    padding: 10px;
    border: 1px solid #A6A6A6;
}

.login-forgot {
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
    padding: 0.6em;
    text-align: right;
    font-size: 12px;
    margin-bottom: 1rem;
}

.login-forgot a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-align: right;
}

.login-forgot a:hover {
    display: inline-flex;
    align-items: center;
    color: #6ABBFA;
    text-decoration: underline #6ABBFA;
    text-align: right;
}

.social-login-container {
    margin-top: 8px;

    padding: 40px;
    /* display: flex; */
    border-right: 1px solid #A6A6A6;


}

.social-login-icons {
    justify-content: space-between;
    margin-bottom: 16px;
}

.social-login-icon-gather {
    margin-top: 20px;
    margin-bottom: 10px;
}

.social-box {
    background-color: #FFFFFF;
    border-radius: 30px;
    color: black;
    padding: 10px 20px;
    width: 354px;
    height: 50px;
}

.social-login-icon {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 8px;
    transition: border-color 0.2s ease-in-out;
    display: block;
    margin: auto auto 20px;

}

.social-login-icon:hover {
    border-color: black;
    cursor: pointer;
}

.social-login-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.home-btn {
    background-color: #C2C2C2;
    border-radius: 32px;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 30%;
    height: 60%;
    margin: auto;
    display: block;

    cursor: pointer;
}

.home-btn-active {
    background-color: #0077FF;
    border-radius: 32px;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 30%;
    height: 60%;
    margin: auto;
    display: block;

    cursor: pointer;
}
