body{
    background-color: #D4ECFF;
}
.mainpage {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 5%;
    width: 70%;
    height: 100%;
    margin-left: 18%;
    margin-top: 3rem;
    background-color: white;

}
.text{
    color: gray;
}

/* .mainpage-container {
  background-color: #f9fdff;
  padding: 20px;
  height:100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
} */

.ButtonWrapper {
    margin-top: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.main-button {
    background-color: #0077FF;
    border-radius: 10px;
    color: white;
    margin-left: 3rem;
    font-size: 3rem;
    font-weight: bold;
}