.main-rectangle-white {
    width: 60%;
    height: 80%;

    background-color: white;

    border-radius: 1rem;

    box-shadow: 1px 2px 4px lightgray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 10%;
    left: 30%;
}

.main-description {
    color: darkgray;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Archivo sans-serif;

    cursor: default;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.main-button-container {
    width: 80%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 5%;
}

.main-button {
    width: 12rem;
    height: 6rem;

    background-color: #0077FF;

    border-radius: 1rem;
    border-color: transparent;

    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: Archivo, sans-serif;
    font-style: italic;
    text-align: center;

    margin-left: 1rem;
    margin-right: 1rem;
}

.main-button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    z-index: 1;
}

.main-bottom {
    width: 60%;
    height: auto;

    position: absolute;
    bottom: 3rem;

    -webkit-user-drag: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}