.user-setting-title-rectangle-white {
    width: 60%;
    height: 5rem;

    background-color: #ffffff;

    border-radius: 1rem;

    box-shadow: 1px 2px 4px lightgray;

    display: block;

    margin-top: 2rem;

    padding: 0;
}

.user-setting-rectangle-white {
    width: 60%;
    height: auto;

    background-color: white;

    border-radius: 1rem;

    box-shadow: 1px 2px 4px lightgray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-setting-container {
    width: 80%;
    height: auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2vh;
}

.user-setting-title {
    color: black;
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: lighter;

    cursor: default;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    margin-top: 1vh;
}

.user-setting-img-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 3rem;
}

.user-setting-preview-img {
    width: 8rem;
    height: 8rem;
    aspect-ratio: auto 1/1;

    background-color: transparent;
    border-radius: 10rem;
    object-fit: cover;

    box-shadow: 0 0 2px gray;

    -webkit-user-drag: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.user-setting-img-btn-container {
    width: 10rem;
    height: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: 2%;
}

.user-setting-img-upload-btn {
    width: 6rem;
    height: 2rem;
    line-height: 2rem;

    background-color: white;

    border-radius: 0.5rem;
    border-color: #4E60FF;
    border-style: solid;
    border-width: 1px;

    color: #4E60FF;
    font-size: 12px;
    text-align: center;

    cursor: pointer;

    display: inline-block;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.user-setting-img-remove-btn {
    width: 6rem;
    height: 2rem;

    background-color: white;

    border-radius: 0.5rem;
    border-color: #83859C;
    border-style: solid;
    border-width: 0.05rem;

    color: #83859C;
    font-size: 12px;

    cursor: pointer;

    margin-top: 3%;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.user-setting-form-container {
    width: 60%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-family: Poppins, sans-serif;
    text-align: left;

    margin-top: 2%;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.user-setting-input-name-container {
    width: 100%;
    height: auto;

    font-size: 12px;
    color: #666666;
    margin-bottom: 2rem;
}

.user-setting-input-name {
    width: 95%;
    height: 2rem;

    background-color: white;

    border: 0.05rem solid #A6A6A6;
    border-radius: 0.3rem;

    color: #000000;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    margin-top: 0.3rem;
}

.user-setting-btn {
    width: 100%;
    height: auto;

    background-color: #C2C2C2;

    border-radius: 5rem;
    border-color: transparent;

    display: block;

    font-size: 14px;
    color: white;
    text-align: center;
    font-family: Poppins, sans-serif;

    cursor: default;
    pointer-events: none;

    padding: 0.5rem;

    margin-top: 3%;
}
